<header>
    <h1>Schedule App</h1>
    <hr>
    <nav>
        <div class="header">

            <a href="/">Home</a>
            <a href="/users">Users</a>
            <a href="/schedules">Schedules</a>
        </div>
    </nav>
</header>
